
extends ../../layout/layout
//- App Shell

block head2
	script.
		loadImage('../img.jpg');
		loadImage('who.jpg');

block top
	style.
		.pageBack {
			background-image: url(../img.jpg);
			max-height: 150px;
		}

	.pageBack
		include ../../layout/nav

block main
	.trans
	br
	.container.grid-xl(data-page='team')
		.columns

			.column.col-1.hide-sm
			.column.col-3.col-sm-12
				img.team.img-responsive(src='who.jpg')

			.column.col-7.col-sm-12.text-team
				H3.cAccent.line.fBod Caitlyn MacDonald

				H5 Partner, Head of Investor Relations

				.copy.
					Ms. MacDonald serves as the Head of Investor Relations and a Partner of Upper Bay. Ms. MacDonald leads the investor relations, fundraising and co-investment activities at the firm.  
					Prior to joining the Firm in early 2021, Ms. MacDonald held a similar role where she was a Partner and Head of Investor Relations at Lee Equity Partners where she led the firm’s investor relations, fundraising and co-investment efforts. Prior to joining Lee Equity in 2015, Ms. MacDonald spent over seven years at First Reserve as a Director of Marketing and Communications where her responsibilities included infrastructure investor relations and fundraising. Prior to that, she was an Investment Manager at fund of funds group SVG Advisers where from 2001 to 2007 she was responsible for fund manager selection and industry research. She began her career in the client service and performance measurement groups at Wellington Management. Ms. MacDonald holds a Bachelor of Science from Emerson College and a Masters in Business Administration from Babson College.
				
				p
				a(href="https://www.linkedin.com/in/caitlyn-macdonald-54a8452b") LinkedIn

			.column.col-1.hide-sm
