
mixin emp_mix(url, imgUrl, title, position)
    a.flex.left.item(href=url)
        .cardInfo.d-flex
            div.img
                img(src=imgUrl)
            div
                h6.cAccent=title
                h6.black=position 


