extends ../layout/layout
//- App Shell

block head2
   script.
      loadImage('img.jpg');


block top

   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack
      include ../layout/nav
      br
      H1.flex.white.fLarge.fBod.container.grid-xl Team

block main
   style.
      .cards {
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         align-content: flex-start;
         padding: 0 5%;
      }
      .item {
         width: 33.333%;
      }
      .cardInfo {
         padding: 15px;
         min-height: 100px;
         width: 100%;

         margin: 10px;
         overflow: hidden;

         background: white;
         border: 1px solid #DCDCDC;
         transition: border .2s ease-in-out;
      }
      .cardInfo:hover {
         border-color: #0F3462;
      }
      .cardInfo:hover img {
         -webkit-filter: grayscale(100%);
         filter: grayscale(100%);
      }
      h6.black {
         font-weight: 700;
         var  ter-spacing: -1px;
         text-transform: uppercase;
         font-size: 13px;
         color: #777;
      }
      h6.cAccent {
         text-transform: capitalize;
         font-size: 18px;
         line-height: 1.1;
         var  ter-spacing: -0.5px;
         margin-bottom: 7px;
      }
      .img {
         width: 70px;
         height: 70px;
         overflow: hidden;
         margin-right: 10px;
         flex-shrink: 0;
      }
      img {
         display: block;
         width: 100%;
         min-height: 100%;
         object-fit: cover;
         transition: all .2s ease-in-out;
      }

      @media (max-width: 960px) {
         h6.cAccent {
               font-size: 14px;
         }
         h6.black {
               font-size: 11px;
         }
      }

      @media (max-width: 770px) {
         .item {
               width: 50%;
         }
      }

      @media (max-width: 600px) {
         .item {
               width: 100%;
         }
      }

   .trans
   br
   .pad.container.grid-xl(data-page='team')
      include emp_mix
      .cards
         for emp in employees
            +emp_mix(emp.url, emp.imgUrl, emp.title, emp.position)

