.pageBack {
    background-attachment: scroll;
    min-height: 170px;
    height: 50vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadein 1.5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    position: relative;

    .pad {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    header,
    h2,
    h1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    >.show-lg {
        top: 65px;
        z-index: 999;
    }

    .fLarge {
        text-shadow: 0px 0px 14px rgba(150, 150, 150, 1);
    }

    h1,
    h2 {
        top: 100px;
        position: sticky;
        /* sticky */
    }
}

.img-load {
    width: 1px;
    height: 1px;
    position: fixed;
    left: -9999px;
    top: -9999px;
}

.fBod {
    font-family: 'Playfair Display', serif;
}

.pad2 {
    padding: 30px;
}

.cAccent {
    color: #0F3557;
}

.black {
    color: black;
}

.fLarge {
    font-size: 2.5rem;
    text-align: center;
}

.trans {
    margin-top: -2rem;
    z-index: -1;
    background-color: #F7F7F7;
    min-height: 12vh;
    min-width: 100vh;
    max-width: 100%;
}

.content-wrapper {
    overflow: hidden;
}

.container,
.pad.container {
    padding: 3rem 15px;
}

.line:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#025a87+0,000000+100 */
    background: #025a87;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #025a87 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #025a87 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #025a87 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#025a87', endColorstr='rgba(0,0,0,0)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    content: "";
    display: block;
    height: 4px;
    margin-top: 20px;
    width: 70px;
}

.copy {
    line-height: 30px;
}

.foot {
    color: white;
    background-color: #023249;
    flex-direction: column;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    padding: 0;

    .footer-1 {
        padding: 2rem 15px;
        margin: 0;
        justify-content: space-between;
        -webkit-justify-content: space-between;

        ul {
            list-style-type: none;
            margin-top: 7px;
            padding-top: 5px;
        }
    }

    .menu-item {
        margin-left: 2rem;
        flex-shrink: 0;

        &:first-of-type {
            margin: 0;
        }

        a {
            font-size: 13px;
            font-weight: 200;

            &.item-main {
                font-size: 15px;
            }
        }
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .logo {
        font-weight: 200;
        letter-spacing: -1px;

        &:hover {
            text-decoration: none;
        }
    }

    .edge {
        font-weight: 200;
        font-size: 11px;
        letter-spacing: 2px;
        padding: .6rem 0;
        background: #022b3f;
        width: 100%;

        & .container {
            padding: 0 15px;
        }
    }
}

ul,
ol {

    &,
    li,
    ul,
    ol {
        margin: 0;
        padding: 0;
        list-style-position: initial;
    }
}

a {
    transition: all .2s ease-in-out;
    text-decoration: underline;

    &,
    &:visited {
        color: #3494BA;
    }

    &,
    &:hover,
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        text-decoration: none;
        color: #023d5a;
    }
}

.cards {
    a {

        &,
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
}

p,
ul li {
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style-type: square;
}

.col-7 h5 {
    margin-bottom: 1rem;
}

.img-responsive {
    max-width: 100%;
}

// investments page
.investment-table {
    margin: 0 0 3rem 0;

    .row {
        width: 100%;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid rgb(176, 176, 176);

        &.first {
            border-top: 1px solid rgb(176, 176, 176);
        }
    }

    h3,
    p {
        font-size: 18px;
        line-height: 150%;
        font-weight: 400;
        margin: 6px 0 0;
        text-align: left
    }

    h3 {
        padding: 0;
        color: #293953;
        text-align: left;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    }

    .heading {
        float: left;
        width: 35%;
        color: #999A9C;
    }

    .infoRowText {
        width: 65%;
    }

    p {
        margin: 0 0 10px 0;
    }
}

.columns .investment-text-column {
    padding-left: 7%;
}

.investment-logo {
    margin: 0 0 2rem 0;
}

// form validator
.swal2-container {
    .swal2-popup {
        border-radius: 0;
        background: rgba(255, 255, 255, .85);

        .swal2-confirm {
            min-width: 90px;
            max-width: 100%;
        }

        .swal2-title {
            letter-spacing: 2px;
            font-weight: 200;
        }

        .swal2-content {
            font-size: 16px;
        }
    }

    .swal2-icon {
        width: 4em;
        height: 4em;
        border-width: .1em;
        margin: 1em auto 1.875em;
    }

    .swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
        top: 1.9em;
        width: 2em;
        height: 0.1em;
    }

    .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='right'] {
        right: 1em;
    }

    .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='left'] {
        left: 1.06em;
    }
}

// button main
.btn-theme,
.swal2-container .swal2-popup .swal2-confirm {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(242, 242, 242);
    background: rgb(2, 90, 135);
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    height: inherit;
    height: initial;
    width: inherit;

    &,
    &:hover,
    &:active,
    &:focus {
        border-radius: 0;
        border: 0;
        outline: none;
        box-shadow: none;
    }

    &:hover {
        background: #023d5a;
    }
}

.btn-theme {

    &.btn:focus,
    &.btn:hover {
        background: rgb(2, 90, 135);
    }
}

// contact page
.contact {
    h3 {
        font-weight: 200;
    }

    p {
        margin-bottom: 0;
        letter-spacing: 1px;
        word-spacing: 3px;
        font-weight: 200;
    }

    .contact-info {
        padding-bottom: 0;
    }

    .left-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: space-between;
    }
}

.modal.active {
    z-index: 999;
}

@media (min-width: 1300px) {
    .pageBack {
        header {
            margin: 0 auto;
        }
    }

    .foot {

        .footer-1,
        .edge {
            margin: 0 auto;
        }
    }
}

@media (max-width: 840px) {
    .footer-1 {
        flex-direction: column;
        -webkit-flex-direction: column;

        .logo {
            margin-bottom: 1rem;
            display: block;
        }
    }

    .fLarge {
        font-size: 35px;
    }

    .container,
    .pad.container {
        padding: 1rem 15px;
    }

    p,
    ul li {
        font-size: 14px;
        line-height: 1.5;
    }

    .investment {
        &-logo {
            margin: 0 auto 2rem auto;
            width: 60%;
            max-width: 100%;
            display: block;
        }
    }

    .columns {
        .investment-text-column {
            padding: 0 .4rem;
            text-align: center;
        }
    }

    .foot {

        .menu-wrap,
        .edge {
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        .menu-item {
            margin: 1rem 0 0 0;

            &:first-of-type {
                margin: 0;
            }
        }

        ul {
            display: table;
        }

        .edge {
            text-align: left;
            align-items: flex-start;
            -webkit-align-items: flex-start;
        }
    }
}

@media (max-width: 700px) {
    .contact {
        h3 {
            font-size: 20px;
        }

        .contact-info {
            padding-bottom: 1rem;
        }
    }

    p {
        font-size: 12px;
    }

    .btn-theme {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .fLarge {
        font-size: 26px;
    }

    img.team {
        margin: 0 auto 1rem auto;
        display: table;
        max-height: 300px;
    }

    .text-team {
        text-align: center;

        .line:after {
            margin: .7rem auto;
        }
    }
}

// ios safari fix
.columns {
    display: -webkit-box;
    display: flex;
    -webkit-flex-wrap: wrap;
}