* {
	min-width: 0;
	min-height: 0;
	box-sizing: border-box;
}

@import '3rd/_sweetalert2';
@import '3rd/_navJBar';
@import '3rd/_nav';
@import '3rd/_gridforms';
@import '_variables';
@import '../spectre/_variables';
@import '../spectre/_mixins';
@import '../spectre/utilities';
@import '../spectre/buttons';
@import '../spectre/modals';
@import '../spectre/typography';
@import '../spectre/tables';
@import '_main';
@import '_crossbrowser-fix';
// @import '3rd/_debug';