script(src='https://cdn.jsdelivr.net/npm/vex-js@4.1.0/dist/js/vex.combined.min.js')
link(href='https://cdn.jsdelivr.net/npm/vex-js@4.1.0/dist/css/vex.min.css', rel='stylesheet', type='text/css')
link(href='https://cdn.jsdelivr.net/npm/vex-js@4.1.0/dist/css/vex-theme-flat-attack.min.css', rel='stylesheet', type='text/css')
script(src='https://cdn.jsdelivr.net/npm/validate.js@0.13.1/validate.min.js')


.pad.pt-0
	.grid-form

		//-     legend_title="For inquiries, please use the below submission form:")
		form#mailFrm.form-comp.grid-form
			fieldset
				legend For inquiries, please use the below submission form:
				div(data-row-span='2')
					div(data-field-span='1')
						label Name
						input#name(type='text', name='name' data-name="name")
					div(data-field-span='1')
						label E-mail
						input#email(type='email', name='email' data-name="email")
				div(data-row-span='1')
					div(data-field-span='1')
						label Message
						textarea(name='msg', type='' data-name="msg")
			button#sendBut.btn.btn-primary.float-right.mt-2 Send Message

		script.
			console.log('cont v21 5 11')

			function loadVexAlertFlat() { // since it has extra call at end
				vex.defaultOptions.className = 'vex-theme-flat-attack' // it needs this hack
				console.log('vexFlat')
				// now you can vex.dialog.confirm({ message: 'Something went wrong', callback: function(){} })//vexAlert
			}//()
			loadVexAlertFlat()

			var _this = this

			onMount()

			function onMount() {
				console.log('mount!!')

				$('#mailFrm').on('submit', function(e) {
					e.preventDefault()
					console.log('klik')
					var msg = val()

					if(msg==='OK') {


						const data = {}
						const fdata = new FormData(document.getElementById('mailFrm'))
						for (var [key, value] of fdata.entries()) {
							data[key] =value;
						}
						console.log(JSON.stringify(data))
						fetch("/wapi/email",{
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify(data),
							})
							.then(res => {
								console.log('emailing ', res.statusText)
							})

						vex.dialog.confirm({ message: 'Your message has been sent', callback: function(){} })//vexAlert

						$("#name, #email, textarea[name='msg']").val('')

						console.log('SUCCESS!');


					} else {
						console.info('wrong', msg)
						vex.dialog.confirm({ message: msg, callback: function(){} })//vexAlert
					}
				})
			}

			function val() {
				console.log('val')
				var form = $('#mailFrm');

				var name = form.find('#name').attr('data-name');
				var email = form.find('#email').attr('data-name');

				var constraints = {};
				constraints[name] = {
					presence: true
				};
				constraints[email] = {
					presence: true,
					email: true
				};
				constraints['msg'] = {
					presence: true
				};

				var errors = validate(form, constraints, {format: "flat"});

				if(errors){
					return errors;
				} else {
					return 'OK';
				}

			}



