extends ../layout/layout
//- App Shell


block head2
   script.
         loadImage('img.jpg')
         loadImage('back.jpg')


block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }
      .backImg {
         background-image: url(back.jpg);
         background-size: cover;
      }

   .pageBack
      include ../layout/nav
      br
      h1.container.grid-xl.flex.white.fLarge.fBod Upper Bay Infrastructure Partners


block main
   .trans
   .backImg
      br
      .pad.container.grid-xl.contact(data-page='contact')
         .columns
            .column.col-5.col-sm-12.left-col
               include email
               .pad.contact-info.
                  Our Offices:

                  Upper Bay Infrastructure Partners

                  230 Park Avenue, Suite 453

                  New York, NY 10169
            .column.col-1.hide-sm
            .column.col-6.col-sm-12
               .mapouter
                  .gmap_canvas
                     iframe#gmap_canvas(width='100%', height='500', src='https://maps.google.com/maps?q=230%20Park%20Avenue%2C%20New%20York%2C%20NY%2010169&t=&z=17&ie=UTF8&iwloc=&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')
                  style.
                     .mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}

         br
