extends ../../layout/layout
//- App Shell

block head2 
   script.
      loadImage('../img.jpg');
      loadImage('who.jpg');

block top
   style.
      .pageBack {
         background-image: url(../img.jpg);
         max-height: 150px;
      }

   .pageBack 
      include ../../layout/nav

block main
   .trans
   br
   .container.grid-xl(data-page='team')
      .columns

         .column.col-1.hide-sm
         .column.col-3.col-sm-12
            img.team.img-responsive(src='who.jpg')

         .column.col-7.col-sm-12.text-team
            H3.cAccent.line.fBod Mario Maselli
            H5 Managing Partner
            .copy.
               Mr. Maselli is President and Managing Partner of Upper Bay. He was previously a Managing Director and the Deputy Head of Energy & Infrastructure Investments at Nuveen. 

               Mr. Maselli’s main role at Nuveen was as a transaction leader and manager, originating multiple investment opportunities in the energy and infrastructure sectors, as well as managing a number of infrastructure portfolio investments. Mr. Maselli originated innovative partnerships across several infrastructure sub-sectors with leading strategics and developers, including Advanced Power, Hunt Power, EDF Renewables, Digital Bridge, and NRG. He was an active board member on a number of portfolio investments at Nuveen and played an integral role in Nuveen’s third-party asset management initiatives in the infrastructure space. Prior to joining Nuveen in 2008, Mr. Maselli worked on the Syndicate and Private Placements desk at Dresdner Kleinwort, structuring both debt and equity transactions domestically and internationally. Prior to that, he was employed at Momentum Equity Group, LLC, a boutique technology merchant bank with a focus on energy and energy technology transactions. Mr. Maselli worked for J.P. Morgan in the United Kingdom, New York, and Texas on the fixed income trading floor and later in investment management, specializing in alternative investments.

               Mr. Maselli holds a Master of Science in Economics and Business Law from L.U.I.S.S. University in Rome, Italy, where he participated in the ERASMUS scholarship at the Technische Universität Berlin, and a Master of Science in Business Administration from Southern Methodist University in Dallas, Texas, where he was awarded the SMU-COX Venture Capital Practicum with Chisholm Private Capital Partners.
            p
            p Sector focus: Renewable Power, Traditional Power, Transportation, Telecommunications

            a(href="https://www.linkedin.com/in/mariomaselli") LinkedIn

         .column.col-1.hide-sm
