extends ../../layout/layout
//- App Shell

block head2
   script.
      loadImage('img.jpg')



block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack
      include ../..//layout/nav
      br
      H1.flex.white.fLarge.fBod Upper Bay Infrastructure Partners


block main
   .trans
   br
   .pad2.container.grid-xl(data-page='home')
      h2.container.grid-xl.cAccent.line.fBod Investment Strategy

      p Upper Bay pursues investments diversified across the infrastructure industry with an emphasis on a balanced portfolio construction that is designed to benefit from a basket of stable and mature infrastructure investments as well as growth-oriented platform investments that stand to profit from powerful macroeconomic tailwinds. In order to achieve what Upper Bay believes to be the most attractive risk-adjusted returns across the infrastructure industry, the firm combines a “top-down” approach to identify sector themes with a “bottom-up” philosophy to prioritize exclusive opportunities with successful operators and developers. Upper Bay's assets will typically exhibit the following infrastructure qualities:

      .columns
         .column.col-xs-12
            .pad.
               - Real assets that provide essential services for the economy and community
               - High barriers to entry and monopolistic qualities based on contractual terms or regulatory regime and/or location
               - Predictable, long term cash flow underpinned by contracts or regulatory regime
               - Provide both current return and capital appreciation potential


         .column.col-xs-12
            .pad.
               - High margins and cash distributions with lower volatility
               - Inflation protection
               - Creditworthy counterparties
               - Minimal exposure to commodity price volatility
               - Limited operating and technology risk
               - Multiple exit opportunities
