extends ../../layout/layout
//- App Shell

block head2
	script.
		loadImage('../img.jpg');
		loadImage('who.jpg');


block top
	style.
		.pageBack {
			background-image: url(../img.jpg);
			max-height: 150px;
		}

	.pageBack
		include ../../layout/nav

block main
	.trans
	br
	.container.grid-xl(data-page='team')
		.columns

			.column.col-1.hide-sm
			.column.col-3.col-sm-12
				img.team.img-responsive(src='who.jpg')

			.column.col-7.col-sm-12.text-team
				H3.cAccent.line.fBod Kim Garber
				H5 Compliance Consultant
				.copy.
					Kimberly Garber is a Founding Principal of CORE-CCO, LLC (CORE), a boutique compliance firm providing outsourced compliance resources and expertise to private fund managers. Ms. Garber has 26 years regulatory and compliance experience. A seasoned regulator, she is the former head of the Securities & Exchange Commission's Fort Worth Regional Office Examination Program and an expert in federal securities laws and regulatory developments. Ms. Garber is also an expert in private fund compliance issues, providing compliance services to private equity funds, hedge funds, real estate funds, oil and gas and other alternative fund managers. As an experienced compliance officer and regulator, she has extensive regulatory contacts and insights into regulatory and compliance processes and challenges. She has been a frequent speaker at industry and regulator conferences and workshops across the U.S. and for securities regulators in multiple foreign countries.

					Prior to launching CORE in 2011, Ms. Garber served as the Associate Regional Director in the SEC Fort Worth Regional Office from 2006-2011. She initially joined the SEC as an examiner in 1992 and worked in that capacity for five years before leaving the Commission in 1997 to work in the investment management industry, serving as a Senior Compliance Officer or Chief Compliance Officer for American Century Investments, AIM Investments and the Royce Funds. Ms. Garber returned to the SEC in 2004 to help lead the FWRO Examination Program. Ms. Garber holds a BA in Business Administration from MidAmerica Nazarene University and an MBA in Finance from the University of Missouri.
				p
				a(href="https://www.linkedin.com/in/kimberly-garber-1332323a") LinkedIn


			.column.col-1.hide-sm
