extends ../..//layout/layout
//- App Shell

block head2
   script.
      loadImage('img.jpg')

block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack
      include ../../layout/nav
      br
      H1.flex.white.fLarge.fBod Upper Bay Infrastructure Partners

block main
   .trans
   br
   .pad.container.grid-xl(data-page='home')
      H1.cAccent.line.fBod Corporate Responsibility
      h5.copy
         include text.md
