//- App Shell
extends /layout/layout

block head2 
   title About Upper Bay Infrastructure Partners

   script.
         loadImage('img.jpg')


block top
   style.
      .pageBack {
         background-image: url(img.jpg);
      }

   .pageBack 
      include ../../layout/nav
      br
      .pad
         h2.container.grid-xl.flex.white.fLarge.fBod Upper Bay Infrastructure Partners

block main
   .trans
   br
   .pad.container.grid-xl(data-page='home')
      H1.cAccent.line.fBod About Us
      h5.copy.
         Upper Bay Infrastructure Partners is an independently-owned private investment firm focused primarily on diversified North American infrastructure private equity investments in the middle market with over $720 million of assets under management. Upper Bay targets both mature, stable assets and growth-oriented infrastructure investments in partnership with leading operators and developers. Upper Bay seeks to make infrastructure investments primarily in the following sectors: transportation, power & utilities, midstream, and telecommunications. Upper Bay was founded in 2018 by former executives at Nuveen (previously TIAA-CREF) and is headquartered in New York City.
