a {
    &, &:hover, &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

#logo {
    font-family: 'Playfair Display', serif ;
}
 
 header {
    // background:rgba(1,1,1,0.05);
    height: 65px;
    line-height: 65px;
    z-index: 10;
    a {
        &, &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}
header, .foot {
    padding: 0 15px;
}
 
#navbar-brand, #navbar-brand * {
    height: 65px;
    line-height: 65px;
}
 
.white, .white * { color: white !important; }
 
.padL {
    padding-left: 15px;
}
.pad {
    padding: 15px;
    ul {
        margin: 1em 0;
    }
    .pad {
        padding-left: 0;
        padding-right: 0;
    }
}
 
#navBarCont {
    margin-top: 10px;
}
.bord { /* icons & bars */
    outline-style: solid;
    outline-offset: 7px;
    outline-width: thin;
    margin-right: 25px;
    margin-left: 25px ;
}
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
 
/*
  Nav */
#navOpen {
    background-color: #025A87;
    width: calc(100vw - 70px);
    overflow: hidden;
    margin-left: 25px;
    position: absolute;
}
.flex, .center, .top, .right, .bottom, .left{
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.flex {
    align-content: flex-start;
    -webkit-align-content: flex-start;
}
.d-flex {
    display: flex;
    display: -webkit-box; 
    display: -moz-box;  
    display: -ms-flexbox; 
    display: -webkit-flex;
}
.top    { align-items:     flex-start; -webkit-align-items: flex-start;}
.right  { justify-content: flex-end; -webkit-justify-content: flex-end;}
.bottom { align-items:     flex-end; -webkit-align-items:     flex-end;   }
.left   { justify-content: flex-start; -webkit-justify-content: flex-start; }
/* override */
.edge  { justify-content: space-between;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: nowrap;
}
.navBarOpen {
    width: 250px;
}
 
/* bar */
 
/* level 1 */
.navJBar li > a {
    color: white;
    text-decoration: none;
    background: transparent;
    font-size: 17px;
}
ul.navJBar li {
    list-style-type: none;
}
header ul.navJBar > li > a {
    position: relative;
    padding: 2px 0;
    margin: 8px 0 8px 2rem;
    transition: color .2s ease-in-out;
    &:hover {
        color: #3494BA;
    }
}
header ul.navJBar > li > a.active {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2px;
        background: #3494BA;
    }
    &:hover {
        color: white;
    }
}
/* level 2 */
.navJBar li li a {
    color: white !important;
    background: #3494BA;
    font-size: 16px;
}
.navJBar li li a:hover {
    background: #025A87 ;
    color: white !important;
}
ul {
    padding: 0;
}
/* End Nav
 */
 