.navJBar {
    list-style: none;
}

.navJBar li {
    position: relative;
}

.navJBar li > ul {
    background: #e6e6e6;
    width: 250px;
    opacity: 0;
    position: absolute;
}

@media (max-width: 960px) {
    .navJBar li > ul {
        width: auto;
    }
}

.navJBar li a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    line-height: 34px;
}

.navJBar li a .parent-icon {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: 4px;
}

.navJBar li > a {
    padding: 10px 24px;
    color: #888;
    background: transparent;
}

.navJBar li > a .parent-icon > * {
    fill: #888;
}

.navJBar li li a {
    padding: 10px 24px;
    color: #888;
    background: #fff;
}

.navJBar li li a .parent-icon > * {
    fill: #888;
}

.navJBar li li.open > a, .navJBar li li:hover > a {
    color: #eee;
    background: #333;
}

.navJBar li li.open > a .parent-icon > *, .navJBar li li:hover > a .parent-icon > * {
    fill: #eee;
}

.navJBar li li.active > a, .navJBar li li.active:hover > a {
    color: #fff;
    background: #006699;
}

.navJBar li li.active > a .parent-icon > *, .navJBar li li.active:hover > a .parent-icon > * {
    fill: #fff;
}

.navJBar li.open > ul {
    opacity: 1;
}

@media (max-width: 960px) {
    .navJBar li.open-position > ul {
        position: static;
    }
}

.navJBar > li.open > a, .navJBar > li:hover > a {
    background: transparent;
    color: white;
}

.navJBar > li.open > a .parent-icon > *, .navJBar > li:hover > a .parent-icon > * {
    fill: #006699;
}

.navJBar > li.active > a, .navJBar > li.active:hover > a {
    color: #fff;
    background: #006699;
}

.navJBar > li.active > a .parent-icon > *, .navJBar > li.active:hover > a .parent-icon > * {
    fill: #fff;
}

.navJBar > li > a {
    float: left;
}

@media (max-width: 960px) {
    .navJBar > li > a {
        float: none;
    }
}

.navJBar > li {
    position: relative;
    float: left;
}

@media (max-width: 960px) {
    .navJBar > li {
        float: none;
    }
}

.navJBar li > ul {
    left: -999em;
    top: 85%;
    transition: top .3s ease, opacity .2s linear;
    -webkit-transition: top .3s ease, opacity .2s linear;
}

.navJBar li li > ul {
    top: -999em;
    left: 85%;
    transition: left .3s ease, opacity .2s linear;
    -webkit-transition: left .3s ease, opacity .2s linear;
}

.navJBar li li.open > ul {
    left: 100%;
}

.navJBar li li.open-position > ul {
    top: 0;
}

.navJBar li.open > ul {
    top: 100%;
}

.navJBar li.open-position > ul {
    left: 0;
}
