extends ../../layout/layout
//- App Shell

block head2
	script.
		loadImage('../img.jpg');
		loadImage('who.jpg');


block top
	style.
		.pageBack {
			background-image: url(../img.jpg);
			max-height: 150px;
		}

	.pageBack
		include ../../layout/nav

block main
	.trans
	br
	.container.grid-xl(data-page='team')
		.columns

			.column.col-1.hide-sm
			.column.col-3.col-sm-12
				img.team.img-responsive(src='who.jpg')

			.column.col-7.col-sm-12.text-team
				H3.cAccent.line.fBod Kanan Joshi

				H5 Executive Director

				.copy.
					Ms. Joshi is an Executive Director at Upper Bay. Her role is to originate and underwrite infrastructure private equity investments, with a focus on telecom and internet infrastructure. She has over 15 years of domain expertise in the telecom infrastructure industry with strong deal origination relationships and underwriting skills.

					Prior to joining Upper Bay, Ms. Joshi was most recently a principal at Digital Bridge Holdings, where she helped spearhead its foray into the data center business deploying approximately $1 billion of equity across two platform acquisitions. Prior to Digital Bridge, Ms. Joshi worked in investment banking at Deutsche Bank, J.P. Morgan, and a boutique that she co-founded where she advised companies in the technology, media, and telecom industries on corporate finance solutions, including executing over $60 billion of mergers and acquisitions and capital raising transactions. Prior to her work in investment banking, Ms. Joshi lived in India for six years working in corporate development for Sony Entertainment Television and export finance at the Export-Import Bank of India.

					Ms. Joshi holds a Bachelor of Commerce from the University of Mumbai, a Post Graduate Diploma in Business Administration from Narsee Monjee Institute, Mumbai and an MBA from the University of Chicago Booth School of Business.
				p
				p Sector focus: Telecommunications and Digital Infrastructure
			
				a(href="https://www.linkedin.com/in/kananjoshi") LinkedIn
				
			.column.col-1.hide-sm
