doctype html
html
	head
		script.
			var _start = Date.now()

		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover")
		link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

		meta(name='description', content=content_text)
		//- Schema.org markup for Google+
		meta(itemprop='name', content=title)
		meta(itemprop='description', content=content_text)
		meta(itemprop='image', content=image)
		meta(name='keywords', content=keywords)

		//- Twitter Card data
		meta(name='twitter:title', content=title)
		meta(name='twitter:description', content=content_text)
		//- Twitter summary card with large image must be at least 280x150px
		meta(name='twitter:image', content=image)

		//- Open Graph data
		meta(property='og:title', content=title)
		meta(property='og:image', content=image)
		//- end

		style.
			.delayShowing { opacity: 0; }
			.blur { -webkit-filter:blur(2px);filter:blur(2px); }

		//- top css layout
		link(href='/assets/css/spectreTop.css', rel='stylesheet', type='text/css') 
		link(href='/assets/css/spectreBottom.css', rel='stylesheet', type='text/css') 

		script(src='https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.min.js')
		script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js')
		script(src='https://cdn.jsdelivr.net/npm/blueimp-load-image@2.23.0/js/load-image.min.js')
		
		script(src='/assets/js/baseCS.js')
		script(src='/layout/navJBar.js')

		block head2 

	body
		//- manually include /layout/nav
		block top
		script(src= '/assets/js/top.js')

		#router.content-wrapper
			block main

			include foot
