extends ../layout/layout

block head2 
 
block top
	style.
		.pageBack {
			background-image: url(img.jpg);
		}

	.pageBack 
		include ../layout/nav
		br
		h1.container.grid-xl.flex.white.fLarge.fBod Our Investments

block main
	.trans
	br
	.pad.container.grid-xl(data-page='investment')
	
	include investment
	.cards
		for i in investments
			+investment(i.url, i.imgUrl, i.title)
		
	p 
	br
	p 

	style.
		.cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: flex-start;
		}

		.cardInfo {
			width: 100%;
			height: 100%;
			min-height: 100px;
			overflow: hidden;
		}

		.item{
			width: 33.333%;
			padding: 0 2rem;
		}
		.item:hover .cAccent {
			text-decoration: underline;
		}

		.img {
			overflow: hidden;
			width: 100%;
			height: 270px;
			max-width: 100%;
			margin: 0 0 20px 0;
		}
		img {
			display: block;
			width: 100%;
			min-height: 100%;
			object-fit: cover;
			transition: transform .5s ease-in-out;
		}
		img:hover {
			transform: scale(1.1);
		}

		.cAccent {
			text-transform: capitalize;
			font-size: 21px;
			font-weight: 600;
		}

		@media (max-width: 960px) {
			.img {
					height: 200px;
			}
			.cAccent {
					font-size: 17px;
			}
		}

		@media (max-width: 840px) {
			.item {
					padding: 0 1rem;
			}
			.img {
					height: 150px;
			}
		}

		@media (max-width: 600px) {
			.cards {
					margin: 0 -.5rem;
			}
			.item {
					padding: 0 .5rem;
			}
			.cAccent {
					font-size: 14px;
			}
		}

		@media (max-width: 500px) {
			.item {
					width: 100%;
			}
		}

		@media (max-width: 300px) {
			.item {
					padding: .5rem;
			}
			.img {
					height: 150px;
					margin: 0 0 7px 0;
			}
		}


