extends ../../layout/layout
//- App Shell

block head2 
   script.
      loadImage('../img.jpg');
      loadImage('who.jpg');

block top
   style.
      .pageBack {
         background-image: url(../img.jpg);
         max-height: 150px;
      }

   .pageBack 
      include ../../layout/nav

block main
   .trans
   br
   .container.grid-xl(data-page='team')
      .columns

         .column.col-1.hide-sm
         .column.col-3.col-sm-12
            img.team.img-responsive(src='who.jpg')

         .column.col-7.col-sm-12.text-team
            H3.cAccent.line.fBod  Marietta Moshiashvili
            H5 Managing Partner
            .copy.
               Ms. Moshiashvili serves as Chief Executive Officer and Managing Partner of Upper Bay. Prior to co-founding the Firm, Ms. Moshiashvili was a Managing Director and the Group Head of Nuveen’s global direct equity infrastructure platform.

               Prior to becoming Managing Director and the Group Head of Infrastructure at Nuveen, Ms. Moshiashvili held a var iety of senior positions within Nuveen Private Markets in infrastructure, private equity, and project finance. These included being the Portfolio Manager for direct infrastructure equity, Portfolio Manager of energy and infrastructure funds and co-investments, and, prior to that, an officer with involvement in direct infrastructure debt investments. In her capacity, she set the investment strategy. Furthermore, Ms. Moshiashvili oversaw investments, composition of the portfolio, and expansion in new geographies and subsectors, with a goal of maximizing returns and diversification. Ms. Moshiashvili held a number of active board positions for the infrastructure portfolio’s companies, including I-595, ACS JV, UK Bridge, Landfill Gas platform, and Vantage, was a President of the board of InterPark, and was also an investment committee member of Stonepeak Infrastructure Fund I. She steered the Nuveen team towards a differentiated investment sourcing strategy, by identifying market leaders in desirable portfolio sectors, and led the establishment of the Nuveen third party asset management business. Before joining Nuveen in 1997, Ms. Moshiashvili was a project finance investment professional at Credit Suisse and The Toronto-Dominion Bank.

               Ms. Moshiashvili holds a Bachelor of Science in International Business and Economics, cum laude, from New York University Stern’s Business School and is a member of Omicron Delta Epsilon.
            p
            p Sector focus: Renewable Power, Traditional Power, Transportation, Telecommunications

            a(href="https://www.linkedin.com/in/marietta-moshiashvili") LinkedIn

               
         .column.col-1.hide-sm