extends ../layout/layout
//- App Shell

block head2
	script.
		loadImage('img.jpg')

block top
	style.
		.pageBack {
			background-image: url(img.jpg);
		}

	.pageBack
		include ../layout/nav
		br
		H1.flex.white.fLarge.fBod.container.grid-xl Upper Bay Infrastructure Partners


block main
	.trans
	br
	.pad.container.grid-xl(data-page='news')
		H1.cAccent.line.fBod Press Release

		include news_mix
		table.table.table-striped.table-hover
			thead
				tr
					th DATE
					th TITLE
					th DOCUMENT
			tbody#tab1
				for n in news
					+news_mix(n.date, n.title, n.file)


	p
		br
