
mixin news_mix(date, title, file)
	tr
		td=date
		td=title
		td
			a(href=file, target='_blank')
				svg.feather(viewBox='0 0 24 24')
					path(d='M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z')


