extends ../../layout/layout
//- App Shell
block head2
	script.
		loadImage('../img.jpg');
		loadImage('who.jpg');


block top
	style.
		.pageBack {
			background-image: url(../img.jpg);
			max-height: 150px;
		}

	.pageBack
		include ../../layout/nav

block main
	.trans
	br
	.container.grid-xl(data-page='team')
		.columns

			.column.col-1.hide-sm
			.column.col-3.col-sm-12
				img.team.img-responsive(src='who.jpg')

			.column.col-7.col-sm-12.text-team
				H3.cAccent.line.fBod Leigh Seidman
				H5 Senior Vice President
				.copy.
					Mr. Seidman is a Senior Vice President at Upper Bay. He is involved in all aspects of due diligence, modeling, and underwriting investment opportunities at Upper Bay. Prior to joining the Firm, he was an Associate and Private Investments Analyst at Nuveen from 2014. Mr. Seidman has transaction experience across renewable and traditional power, transportation, and energy. Mr. Seidman has previous experience of working as part of the Senior Leveraged team within Nuveen. Prior to joining Nuveen, Mr. Seidman worked for Bessemer Trust and Towers Watson.

					Mr. Seidman holds a Bachelor of Arts in History and Economics from Cornell University. He also holds the Chartered Financial Analyst designation.
				p
				p Sector focus: Renewable Power, Traditional Power, Transportation 


				a(href="https://www.linkedin.com/in/leigh-seidman-b6888527") LinkedIn

					
					
			.column.col-1.hide-sm
